@value grayPrimary, mobileCutoff from 'src/theme.module.css';

.titleButtons {
	display: inline-block;
	float: right;
	margin-left: 20px;
}

.minimize, .maximize, .close {
	width: 1rem;
	height: 1rem;
	padding: 2px;
	border-width: 1px;
	background-color: grayPrimary;
}

.close {
	margin-left: 2px;
}

.minimize img, .maximize img, .close img {
	height: 100%;
}

@media only screen and (max-width: mobileCutoff) {
	.minimize, .maximize {
		display: none;
	}

	.close {
		width: 1.5rem;
		height: 1.5rem;
	}
}
