@font-face {
	font-family: wendy;
	src: url(static/fonts/wendy.ttf);
}

@font-face {
	font-family: perfect-dos;
	src: url(static/fonts/perfect-dos.ttf);
}

@font-face {
	font-family: pixel-arial;
	src: url(static/fonts/pixel-arial.ttf);
}

* {
	user-select: none;
}

body {
	margin: 0;
	font-family: pixel-arial;
	overflow: hidden;
}

body.ToKN2H-BVsL9QuodKgSUC *:focus {
	outline: 2px solid red;
}

body:not(.ToKN2H-BVsL9QuodKgSUC) *:focus {
	outline: 0;
}

a {
	color: #531fff;
	text-decoration: underline dotted;
}

button {
	cursor: pointer;
}

img {
	pointer-events: none;
}

._1AnM3IR3h7Di6T2zT7bcPJ, button {
	border: 2px outset;
	border-top-color: rgb(255, 255, 255);
	border-left-color: rgb(255, 255, 255);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	background-color: rgb(192, 192, 192);
}

._1MEtz1U-25MhSBM_BDVPn7, button:active {
	border: 2px inset;
	border-top-color: rgb(142, 142, 141);
	border-left-color: rgb(142, 142, 141);
	border-right-color: rgb(255, 255, 255);
	border-bottom-color: rgb(255, 255, 255);
	background-color: rgb(234, 234, 234);
}

.aVjXhu3XNfaTgYWpOJp7i {
	width: 150px;
	float: left;
	margin-right: 10px;
}

._2yGEQ4yHZJ1B2HEC-xqFDI {
	margin-top: 0;
}

.CY1qDneJ0MnXFeAsZT8Fm, .CY1qDneJ0MnXFeAsZT8Fm:active, .CY1qDneJ0MnXFeAsZT8Fm:focus {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	font-family: perfect-dos;
	font-size: 1em;
	color: #531fff; 
	text-decoration: underline dotted;
}

._1gfLRhr0yW9idfwCCSnKYp {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 5px 5px 0 5px;
	font-family: perfect-dos;
}

._1mRAST8e-xCiG2xmxQUeqn {
	display: flex;
}

.wYqpn_pQEp5tXY02xvq2o, .wYqpn_pQEp5tXY02xvq2o:active {
	flex: 1;
	padding: 5px;
	border-bottom: 0;
}

.wYqpn_pQEp5tXY02xvq2o h3 {
	display: inline;
	margin: 0;
	font-family: wendy;
	font-size: 1.2rem;
}

._2Mb-FmXcq1PNB0_TgnsxUT {
	position: relative;
	background-color: rgb(255, 255, 255);
}

._2Mb-FmXcq1PNB0_TgnsxUT::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	right: -2px;
	height: 2px;
	background-color: rgb(255, 255, 255);
}

._2l5KaeUEFI6Or6W14Kdl8V {
	flex: 1;
	padding: 10px;
	overflow: auto;
	background-color: rgb(255, 255, 255);
	background-size: 3px 3px;
}

._1_X0nFE7UcKPpdAxrO09JA {
	position: relative;
	padding: 3px 7px;
	font-size: 0.6rem;
}

._1_X0nFE7UcKPpdAxrO09JA:not(._1MxkdWGNRzr1kd9G1L8vMV) ._3h7clqc21nay3mz-Yzp8Wn {
	display: none;
}

._3h7clqc21nay3mz-Yzp8Wn {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 150px;
	padding: 0;
	background-color: rgb(192, 192, 192);
	list-style: none;
}

._2YW2b4-hZaKDr-F6iD_PVa {
	padding: 5px 5px 5px 10px;
	font-size: 0.6rem;
	text-align: left;
	color: rgb(0, 0, 0);
}

._2YW2b4-hZaKDr-F6iD_PVa._2JgrzJ0Qj5MZD6rE2g5d77 {
	color: rgb(142, 142, 141);
	cursor: default;
}

._1_X0nFE7UcKPpdAxrO09JA:hover,
._2YW2b4-hZaKDr-F6iD_PVa:not(._2JgrzJ0Qj5MZD6rE2g5d77):hover,
._1_X0nFE7UcKPpdAxrO09JA._1MxkdWGNRzr1kd9G1L8vMV {
	background-color: rgb(1, 0, 129);
	color: rgb(255, 255, 255);
	cursor: pointer;
}

._2Rn1e5mMwTBlCDKukJdA_k {
	display: flex;
	align-items: center;
	align-self: flex-start;
	margin: 0;
	padding: 0;
	background-color: rgb(192, 192, 192);
	list-style: none;
	z-index: 100;
}

._2orQBldWJlUAEpqT93ND8y {
	width: 100%;
	display: flex;
	flex-direction: column;
}

._3LbZSxjayj6ZVlgnAFNcIz {
	flex: 1;
	margin-top: 2px;
	text-align: center;
	overflow: auto;
}

._3LbZSxjayj6ZVlgnAFNcIz iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

._2PPa3qvOVO7lgKfy6Ch0Um {
	padding-top: 5px;
	font-size: 0.6rem;
}

._1ffD7-1URYCMVegWZoqnVU {
	float: left;
}

._2QdriImr8LSg1zMzRrqBmJ {
	float: right;
}

._2QdriImr8LSg1zMzRrqBmJ td {
	padding: 0 5px;
}

._2QdriImr8LSg1zMzRrqBmJ td:last-child {
	text-align: right;
}

._1gpxfu1gIhqYvs0KQjp_bt {
	position: relative;
}

._12pYAF2rpFXpQGyLGzwddV {
	position: absolute;
	height: 40vw;
	width: 40vw;
	left: 10px;
	top: 10px;
}

._2CR21M4UlUH2df9vnOUuqi {
	position: absolute;
	height: 13vw;
	width: 13vw;
	background-color: gray;
}

.HpHzsH2fDcdmx82rfskzY {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

._2S0kE_yj12QlKepRWZ3t9R {
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

._2Aa5Kk5sO2zSdNYbCxf7QP {
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

._2-eE9_sHhgiO1AsykKLu3o {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

._2nM0gmwWcBqKYK6y39TJ6v {
	position: absolute;
	width: 35vw;
	height: 40vw;
	right: 10px;
	top: 10px;
}

._3DNrZnbjNuwkA_cAzvVsu0 {
	position: absolute;
	height: 15vw;
	width: 15vw;
	border-radius: 50%;
}

.SjsD9isxeBqth5JutFKC7 {
	left: 0;
	top: 60%;
	transform: translateY(-50%);
	background-color: #1DAEEC;
}

._1GUCJD27g3QJOnnzZHo3Ir {
	right: 0;
	top: 40%;
	transform: translateY(-50%);
	background-color: #FC6A21;
}

@media only screen and (max-width: 600px) {
	._2PPa3qvOVO7lgKfy6Ch0Um {
		display: none;
	}
}

@media only screen and (min-width: 600px) {
	._1gpxfu1gIhqYvs0KQjp_bt {
		display: none;
	}
}

._1H5u_O1J9NkzwoI1B-b-v_ {
	padding: 0 10px 10px;
}

._3J1H4guhIGW9Gvq9ngN5Dj {
	margin: 5px 0;
	font-size: 0.6rem;
}

._31jWf6G-jPb5aSUdiH0vf_ {
	display: inline-block;
	padding: 0 5px;
	margin-left: 5px;
}

._2xGXW5rc0S_Wk0PK3AvQ0r {
	width: 400px;
	height: 400px;
}

@media only screen and (max-width: 600px) {
	._1H5u_O1J9NkzwoI1B-b-v_ {
		width: 100%;
		padding: 10px 0 0;
		text-align: center;
	}

	._2xGXW5rc0S_Wk0PK3AvQ0r {
		width: 90vw;
		height: 90vw;
	}
}

.B6Zq9XYnLLATFaNwfJrkl {
	flex: 1;
	display: flex;
	flex-direction: column;
}

._3rROmIgjU7dGebOwMR3pwr {
	display: flex;
}

._3x2cpIvIsvEqussXHaj5oS {
	flex: 1;
}

._1n-ZwsV-k2NhDzLPykPO2w {
	flex: 1;
	display: flex;
	position: relative;
	margin-top: 2px;
}

._3BZd4pTyDVFni2CyRdgaQM {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

._3-2nuW9vvzNGnOcH286Koj {
	flex: 1;
}

._256utYHw-SMFEXMyjhxACl {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff2cc;
	animation: _16KzQcUT-uWUsxnuLBmbkZ 0.2s linear;
}

@keyframes _16KzQcUT-uWUsxnuLBmbkZ {
	from { opacity: 0; }
	to { opacity: 1; }
}

._3MGeiBJlG8cjgnDojzpnaM {
	/* position and z-index allow this to float above <canvas> element */
	position: relative;
	z-index: 1;
	display: flex;
	padding: 5px;
}

._2kZuwgHx_6026QIsOGEwx1 {
	width: 80px;
	height: 80px;
}

._3IXUrQD3HkbWE4Nka8g1yj {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 5px;
}

._1fa_M_ndyo2nFKJipT-Qpy, ._3odFa-kry34oClnaEs8NdJ {
	display: inline-block;
	padding: 2px;
	vertical-align: top;
	color: rgb(255, 255, 255);
	background-color: rgba(0,0,0,0.5);
}

._1fa_M_ndyo2nFKJipT-Qpy {
	font-size: 0.7rem;
}

._3odFa-kry34oClnaEs8NdJ {
	margin-top: 2px;
	font-size: 0.5rem;
}

._30YULi3FzNMD86etY2lIYl {
	flex: 1;
	display: flex;
	align-items: flex-end;
}

._2Hz2G8rWoqHQQ8cnmjPGvF {
	margin-right: 3px;
	padding: 1px;
}

._2Hz2G8rWoqHQQ8cnmjPGvF img {
	height: 1rem;
	vertical-align: middle;
}

._1wtzb5O4S4Zx6g5lDBVcrg {
	flex: 1;
	margin: 0 5px;
	background-color: rgb(234, 234, 234);
	overflow: auto;
}

.uUHEYrgvD90C9au-YvvoM {
	width: 100%;
	border-collapse: collapse;
}

.uUHEYrgvD90C9au-YvvoM th, .uUHEYrgvD90C9au-YvvoM td {
	position: relative;
	padding: 10px;
	font-size: 0.5rem;
	text-align: left;
	min-width: 0;
}

.uUHEYrgvD90C9au-YvvoM th:last-child,
.uUHEYrgvD90C9au-YvvoM td:last-child {
	text-align: right;
}

.uUHEYrgvD90C9au-YvvoM ._3A2zlRvdAoP814VRBBNlxy {
	width: 99%;
	padding-left: 0;
}

.uUHEYrgvD90C9au-YvvoM tr {
	border-bottom: 1px solid rgb(192, 192, 192);
}

._3bnWRDBV5Ysft_w-vtCjPs._23oIrm5DToQvuZk5wzfqJb {
	background-color: rgb(192, 192, 192);
}

._3bnWRDBV5Ysft_w-vtCjPs:hover {
	background-color: rgb(1, 0, 129);
	color: rgb(255, 255, 255);
}

._2BWOxQgC7be-PYIF0RfmT- {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

._1z9k9xfcg75fd4l2h3K-Zu {
	visibility: hidden;
	white-space: nowrap;
}

.mfZHR9NSr5nwo6XDe8hVj {
	padding: 1px;
}

.mfZHR9NSr5nwo6XDe8hVj:first-child {
	margin-right: 3px;
}

.mfZHR9NSr5nwo6XDe8hVj img {
	height: 1rem;
	vertical-align: middle;
}

._3bnWRDBV5Ysft_w-vtCjPs:hover ._1z9k9xfcg75fd4l2h3K-Zu,
._3bnWRDBV5Ysft_w-vtCjPs._23oIrm5DToQvuZk5wzfqJb ._1z9k9xfcg75fd4l2h3K-Zu {
	visibility: visible;
}

._3bnWRDBV5Ysft_w-vtCjPs:hover ._2BWOxQgC7be-PYIF0RfmT-,
._3bnWRDBV5Ysft_w-vtCjPs._23oIrm5DToQvuZk5wzfqJb ._2BWOxQgC7be-PYIF0RfmT- {
	display: none;
}

._2NbVRzPlqQ7f8SnDRk5Rop {
	display: flex;
	align-items: center;
	margin: 5px;
	font-size: 0.5rem;
}

._2PEdDdG0HMhfl7igGGk85u {
	min-width: 35px;
}

._2PEdDdG0HMhfl7igGGk85u:last-child {
	text-align: right;
}

._30neb1L4-1834T9mM6XmZ1 {
	flex: 1;
	position: relative;
	height: 2px;
	background-color: rgb(0, 0, 0);
}

._3c8AeOWhg0gIpDRvhgDuyF {
	position: absolute;
	width: 5px;
	height: 10px;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(192, 192, 192);
	cursor: grab;
}

._3PxScLGl8A6cg-_ZshZPxf {
	cursor: grabbing;
}

._3sCxHvcIrAtTKJpbYZH8h8 {
	cursor: not-allowed;
}

._3PLgD7gXWjyUdMLti6wJ7Z {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: rgb(192, 192, 192);
}

._3fQR3AHoMPxe3Ous5wFrhh {
	position: relative;
}

._1xSJAAwtcNL88fB9LeWYPR {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(0, 128, 129);
}

._383ExTKOB0J9-E_VLLFWFP {
	display: block;
	width: 65px;
	margin: 10px;
	padding: 0;
	border: 0;
	background-color: transparent;
	font-family: wendy;
	font-size: 1rem;
	color: rgb(255, 255, 255);
}

._383ExTKOB0J9-E_VLLFWFP:hover {
	cursor: pointer;
}

._383ExTKOB0J9-E_VLLFWFP:active {
	border: 0;
}

._383ExTKOB0J9-E_VLLFWFP img {
	display: block;
	height: 50px;
	margin: auto;
	margin-bottom: 2px;
}

._119F2X6HIQ6P5ZPNSdRQJ- {
	color: rgb(0, 0, 0);
}

._31VjNGza6ZQuHYBZ7StNE- {
	flex: 1;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

._3l6o77-TcwmEK681psGuEs {
	display: inline-block;
	vertical-align: top;
}

.oLeQtZXITIsV9L_xaG7A8 {
	display: flex;
	padding: 3px;
}

._11GqNicegXxqW5T12-wGJY, ._1l4-9DllEp0nWoX-AzBhZp, ._32ErfElgrwo0EXGMyOkqfQ {
	width: 1rem;
	height: 1rem;
	padding: 2px;
	border-width: 1px;
	background-color: rgb(192, 192, 192);
}

._32ErfElgrwo0EXGMyOkqfQ {
	margin-left: 2px;
}

._11GqNicegXxqW5T12-wGJY img, ._1l4-9DllEp0nWoX-AzBhZp img, ._32ErfElgrwo0EXGMyOkqfQ img {
	height: 100%;
}

@media only screen and (max-width: 600px) {
	._11GqNicegXxqW5T12-wGJY, ._1l4-9DllEp0nWoX-AzBhZp {
		display: none;
	}

	._32ErfElgrwo0EXGMyOkqfQ {
		width: 1.5rem;
		height: 1.5rem;
	}
}

._1nU6DcotxMaB03bDD7uOwb {
	flex: 1;
	display: flex;
	padding: 3px;
	font-family: wendy;
}

.AD61jnYKTgk-k5CDH1Hjs {
	height: 1rem;
	margin-right: 5px;
}

._1n3WmKIYAv6XArnhB8Ne8r {
	flex: 1;
	margin: 0;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

._2bAwF5xucB3AVtZIizGl9_ {
	display: inline-block;
	float: right;
	width: 15px;
	height: 15px;
	border: 0;
	background: transparent;
	background-image: linear-gradient(
		135deg,
		rgb(192, 192, 192),
		rgb(192, 192, 192) 50%,
		transparent 50%
	),
	repeating-linear-gradient(
		135deg,
		transparent,
		transparent 2px,
		rgb(255, 255, 255) 2px,
		rgb(255, 255, 255) 3px,
		rgb(142, 142, 141) 3px,
		rgb(142, 142, 141) 4px
	);
	cursor: nwse-resize;
}


@keyframes _397X-byWa2pRdvd2BRQoxV {
	to { opacity: 1; }
}

._1OEfX7ccHZEaxudp4Yh8TS {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: rgb(192, 192, 192);
	box-sizing: border-box;
	max-height: 100%;
	opacity: 0;
	animation: _397X-byWa2pRdvd2BRQoxV 0.1s ease-out forwards;
}

._3Dum2LbxPpGtUGFNhn2Plm {
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	transition: 0.1s ease-out;
}

._1Jxh1UvgI78mvW02wcS6Pr {
	display: none;
}

._1OqZH82eu9s15is0FlW4xK {
	z-index: 500;
}

._1OqZH82eu9s15is0FlW4xK ._3DCxgFLT27szyAMjchXlvl {
	background: linear-gradient(90deg, #ffc0cb, #e9ffe9 105%);
	color: rgb(255, 255, 255);
}

._3DCxgFLT27szyAMjchXlvl {
	display: flex;
	align-items: center;
	margin: 2px;
	background-color: rgb(142, 142, 141);
	color: rgb(192, 192, 192);
}

._3eAIuLrgOY0IoIHh9L03KM {
	position: relative;
	display: flex;
	flex: 1;
	overflow: auto;
	margin: 0 2px 2px 2px;
}

._3nwdodau2ylJybp1cD2vzH {
	padding: 2px;
}

@media only screen and (max-width: 600px) {
	._1OEfX7ccHZEaxudp4Yh8TS {
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
	}

	._3DCxgFLT27szyAMjchXlvl {
		font-size: 1.5rem;
	}

	.bCH97iv5vBywJbotwfHTe {
		height: 1.5rem;
	}

	._3nwdodau2ylJybp1cD2vzH {
		display: none;
	}
}

._3ugtOznkzy_cO0WxvzrbRW {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 35px;
	left: 0;
}

._3urApSkMPvgpsYXSVTx-g4 {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	flex-flow: column wrap;
}

.u8BJXrcAHRDIyMpEyP2A2 {
	display: flex;
	height: 100%;
	min-width: 100px;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;
	padding: 3px;
}

._1GjOCJ80I-yytKT0opHUm7 {
	flex: 1;
	padding: 3px;
	margin: 0;
	background-color: rgb(192, 192, 192);
	list-style: none;
	color: rgb(0, 0, 0);
}

._1o8yu02r2CHnxmJucI3N1i {
	position: absolute;
	display: none;
	top: -5px; /* padding plus border */
	left: 100%;
}

.BqNQ-_neLXH6S9q0Z0yA7 {
	position: relative;
	display: flex;
	align-items: center;
	padding: 3px;
	white-space: nowrap;
	cursor: pointer;
}

.BqNQ-_neLXH6S9q0Z0yA7 img {
	height: 30px;
}

._2s9cjo6BNG4UfxAtybLM_z {
	flex: 1;
	margin-left: 10px;
}

.BqNQ-_neLXH6S9q0Z0yA7:hover {
	background-color: rgb(1, 0, 129);
	color: rgb(255, 255, 255);
}

.BqNQ-_neLXH6S9q0Z0yA7:hover > ._1GjOCJ80I-yytKT0opHUm7._1o8yu02r2CHnxmJucI3N1i {
	display: block;
}

@keyframes _kdrQ5ptP05xk-timwXFt {
	to { height: 400px; }
}

@keyframes _3qeHJ9y8jwWUqT74jh6iRN {
	to { opacity: 0; }
}

.RpbmT_Y4qLxJj9I5e4S_p {
	display: flex;
	position: absolute;
	height: 0;
	max-height: calc(100vh - 35px);
	width: 250px;
	left: 0;
	bottom: 100%;
	margin-bottom: 2px;
	background-color: rgb(192, 192, 192);
	animation: _kdrQ5ptP05xk-timwXFt 0.15s ease-out forwards;
}

._32ncX2Hya-OhxRPFkqIG4a {
	position: relative;
	height: 100%;
	width: 35px;
	background: linear-gradient(0deg, #ffc0cb, #e9ffe9 115%);
}

._32ncX2Hya-OhxRPFkqIG4a::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffc0cb;
	opacity: 1;
	z-index: 1;
	animation: _3qeHJ9y8jwWUqT74jh6iRN 0.2s ease-out 0.2s forwards;
}

._1Br4MM3wCWrPemayvbTady {
	position: absolute;
	bottom: 10px;
	width: 35px;
	transform: rotate(-90deg);
	font-family: perfect-dos;
	font-size: 1.7rem;
	color: rgb(255, 255, 255);
	white-space: nowrap;
}

._1QuRmasKeVK7c6RbpCSVux {
	position: relative;
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
}

._1QUDWs3MORoOASssW33G0J {
	height: 100%;
	padding: 3px;
	box-sizing: border-box;
	font-family: wendy;
	font-size: 1rem;
	cursor: pointer;
	white-space: nowrap;
}

._2yz-PGKRh_d94LSEJgMbmf {
}

._1QUDWs3MORoOASssW33G0J img {
	height: 100%;
	margin-right: 3px;
	vertical-align: middle;
}

._21EVm-3cQigOSyGszmVAo {
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	padding: 3px;
	background-color: rgb(192, 192, 192);
	border-top: 2px solid rgb(255, 255, 255);
	box-sizing: border-box;
	font-size: 0.6rem;
}

._2EQ7VqPexnX-RHKcF5IwGb {
	display: flex;
	flex: 1;
	min-width: 0;
	padding: 0 3px;
}

._2xwh-y4O_6LHGxmJ7NJi_z {
	flex: 1;
	box-sizing: border-box;
	min-width: 0;
	max-width: 200px;
	height: 100%;
	margin-right: 3px;
	font-family: wendy;
	font-size: 1rem;
	vertical-align: bottom;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

._2xwh-y4O_6LHGxmJ7NJi_z:last-child {
	margin: 0;
}

._2xwh-y4O_6LHGxmJ7NJi_z:hover:not(._7m0nay8zikhQCzDOsC4E1) {
	cursor: pointer;
}

._7m0nay8zikhQCzDOsC4E1 {
	background-color: rgb(234, 234, 234);
}

._2xwh-y4O_6LHGxmJ7NJi_z img {
	height: 1rem;
	vertical-align: middle;
	margin-right: 5px;
}

