@value grayPrimary from 'src/theme.module.css';

.menuBar {
	display: flex;
	align-items: center;
	align-self: flex-start;
	margin: 0;
	padding: 0;
	background-color: grayPrimary;
	list-style: none;
	z-index: 100;
}
