@value white from 'src/theme.module.css';

.aboutMe {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 5px;
	font-family: perfect-dos;
}

.tabs {
	display: flex;
}

.tab, .tab:active {
	flex: 1;
	padding: 5px;
	border-bottom: 0;
}

.tab h3 {
	display: inline;
	margin: 0;
	font-family: wendy;
	font-size: 1.2rem;
}

.activeTab {
	composes: inset from 'src/theme.module.css';
	position: relative;
	background-color: white;
}

.activeTab::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	right: -2px;
	height: 2px;
	background-color: white;
}

.content {
	composes: inset from 'src/theme.module.css';
	flex: 1;
	padding: 10px;
	overflow: auto;
	background-color: white;
	background-size: 3px 3px;
}
