.resume {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.frame {
	composes: inset from 'src/theme.module.css';
	flex: 1;
	margin-top: 2px;
	text-align: center;
	overflow: auto;
}

.frame iframe {
	border: 0;
	width: 100%;
	height: 100%;
}
