@value white, black from 'src/theme.module.css';

.desktopIcon {
	display: block;
	width: 65px;
	margin: 10px;
	padding: 0;
	border: 0;
	background-color: transparent;
	font-family: wendy;
	font-size: 1rem;
	color: white;
}

.desktopIcon:hover {
	cursor: pointer;
}

.desktopIcon:active {
	border: 0;
}

.desktopIcon img {
	display: block;
	height: 50px;
	margin: auto;
	margin-bottom: 2px;
}

.darkText {
	color: black;
}
