@value white from 'src/theme.module.css';

.nowPlaying {
	/* position and z-index allow this to float above <canvas> element */
	position: relative;
	z-index: 1;
	display: flex;
	padding: 5px;
}

.album {
	width: 80px;
	height: 80px;
}

.songInfo {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 5px;
}

.song, .artist {
	display: inline-block;
	padding: 2px;
	vertical-align: top;
	color: white;
	background-color: rgba(0,0,0,0.5);
}

.song {
	font-size: 0.7rem;
}

.artist {
	margin-top: 2px;
	font-size: 0.5rem;
}

.controls {
	flex: 1;
	display: flex;
	align-items: flex-end;
}

.mediaButton {
	margin-right: 3px;
	padding: 1px;
}

.mediaButton img {
	height: 1rem;
	vertical-align: middle;
}
