@value black, white, grayPrimary, grayLight, bluePrimary from 'src/theme.module.css';

.wrapper {
	composes: inset from 'src/theme.module.css';
	flex: 1;
	margin: 0 5px;
	background-color: grayLight;
	overflow: auto;
}

.playlist {
	width: 100%;
	border-collapse: collapse;
}

.playlist th, .playlist td {
	position: relative;
	padding: 10px;
	font-size: 0.5rem;
	text-align: left;
	min-width: 0;
}

.playlist th:last-child,
.playlist td:last-child {
	text-align: right;
}

.playlist .titleColumn {
	width: 99%;
	padding-left: 0;
}

.playlist tr {
	border-bottom: 1px solid grayPrimary;
}

.playlistItem.selected {
	background-color: grayPrimary;
}

.playlistItem:hover {
	background-color: bluePrimary;
	color: white;
}

.playButton {
	visibility: hidden;
	padding: 1px;
}

.playButton img {
	height: 1rem;
	vertical-align: middle;
}

.trackNumber {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.playlistItem:hover .playButton,
.playlistItem.selected .playButton {
	visibility: visible;
}

.playlistItem:hover .trackNumber,
.playlistItem.selected .trackNumber {
	display: none;
}
