.windowHeader {
	flex: 1;
	display: flex;
	padding: 3px;
	font-family: wendy;
}

.icon {
	height: 1rem;
	margin-right: 5px;
}

.title {
	flex: 1;
	margin: 0;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
