@value mobileCutoff from 'src/theme.module.css';

.worm {
	padding: 0 10px 10px;
}

.scoreContainer {
	margin: 5px 0;
	font-size: 0.6rem;
}

.score {
	composes: inset from 'src/theme.module.css';
	display: inline-block;
	padding: 0 5px;
	margin-left: 5px;
}

.canvas {
	composes: inset from 'src/theme.module.css';
	width: 400px;
	height: 400px;
}

@media only screen and (max-width: mobileCutoff) {
	.worm {
		width: 100%;
		padding: 10px 0 0;
		text-align: center;
	}

	.canvas {
		width: 90vw;
		height: 90vw;
	}
}
